@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soluções de uma Equação do 2º Grau</h1>
</div>


<!-- recolher os dados dos parâmetros da equação de 2º grau -->
<form>
    <div>
        <p>escreva os parâmetros da equação:</p>
        A = <input type="text" id="A" /> <br />
        B = <input type="text" id="B" /> <br />
        C = <input type="text" id="C" /> <br />

        <input type="submit" value="Calcular" />
    </div>
</form>